*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', 'Nunito', sans-serif;

    background-color: rgb(255, 255, 255);
}

nav {
    position: sticky;
    top: 0; /* Sticks to the top of the viewport */
    background-color: white; /* Optional: Set a background color */
    z-index: 1000; /* Ensures it stays above other elements */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    margin-right: 20px;
}

nav img{
    height: 60px;
    width: auto; 
    float: right;
}

.main img{
    height: 50vh;
    width: auto;
}

.main{
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 100px;
}

.main a button{
    width: 200px;
    height: 40px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.7rem;
    border: none;
    color: grey;
    
}

.main button:first-of-type{
    background-color: rgb(55, 211, 55);
    color: white;
    box-shadow: 0px 4px 8px rgba(55, 211, 55, 0.5);
}

.main button:first-of-type:hover{
    background-color: rgb(110, 200, 110);
    cursor: pointer;
}
.main a button:nth-of-type(2):hover{
    background-color: rgb(222, 222, 222);
    cursor: pointer;
}
.main button:nth-of-type(2){
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.section img{
    height: 40vh;
    width: auto;

}

.section{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
.section .text{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.text h2{
    color: rgb(34, 156, 34);
}

.bottom img{
    width: 100%;
    height: 100vh;
}/* minor css cleanup */
